<div style="height: 90vh">
  <button (click)="monthView()">Month view</button>
  <full-calendar #calendar
                 [plugins]="calendarPlugins"
                 [height]="calendarSettings.height"
                 [events]="calendarEvents"
                 [firstDay]="calendarSettings.firstDay"
                 [eventTimeFormat]="calendarSettings.eventTimeFormat"
                 [slotLabelFormat]="calendarSettings.eventTimeFormat"
                 (eventRender)="eventRender($event)"
  ></full-calendar>
</div>
